version: 2
workflows:
  version: 2
  test:
    jobs:
      - test-latest
      - test-1.14
      - test-1.13
jobs:
  test-latest: &test-template
    docker:
      - image: circleci/golang:latest
    working_directory: /go/src/github.com/immortal/immortal
    steps:
      - checkout
      - run: go test -race -v
  test-1.14:
    <<: *test-template
    docker:
      - image: circleci/golang:1.14
  test-1.13:
    <<: *test-template
    docker:
      - image: circleci/golang:1.13
