<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>run.immortal.immortaldir</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/sbin/immortaldir</string>
    <string>--runtime-dir</string>
    <string>/var/db/immortal/run</string>
    <string>--supervisor-binary</string>
    <string>/usr/local/sbin/immortal</string>
    <string>/usr/local/etc/immortal</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>1</integer>
  <key>AbandonProcessGroup</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/var/log/immortaldir.out.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/immortaldir.err.log</string>
</dict>
</plist>
